async-generator
attrs
certifi
cffi
charset-normalizer
colorama
# exceptiongroup
h11
idna
iniconfig
outcome
packaging
pluggy
py
pycparser
PySocks
pytest-html
pytest-metadata
python-dotenv
requests
selenium
sniffio
sortedcontainers
tomli
tqdm
trio
trio-websocket
urllib3
webdriver-manager
wsproto
six
